<!DOCTYPE html>
<html lang="en">
   <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>503</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="../css/styles_calamari.css" rel="stylesheet">
   </head>
   <body>  	  	
	  	<div class="content_503">
	  		<div class="container">	 
	  			<div class="info_503">
		  			<div class="txt_404">
		  				<img src="../images/text_503.svg" alt="404">
		  			</div>
		  			<h3>Hemos perdido la conexión</h3>
		  			<p>Por favor intenta más tarde</p>
	  			</div>
	  		</div>
	  	</div>
   </body>
</html>