<tr>
    <td style="width:24%">
        {% if content.field_ref_docregion %} 
            {{ content.field_ref_docregion }}            
        {% else %}
            <p>---</p>
        {% endif %}  
    </td>
    <td style="width:15%">
        {% if content.field_ref_docpueblo %} 
            {{ content.field_ref_docpueblo }}
        {% endif %}  
    </td>
    <td style="width:61%">
        {% if content.field_ref_geograficos %} 
            {{ content.field_ref_geograficos }} 
        {% endif %}
        {% if content.field_ref_n5lugar %} 
            &nbsp;&nbsp;{{ content.field_ref_n5lugar }} 
        {% endif %}         
    </td>
</tr>
