@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@font-face {
  font-family: 'iconFont';
  src:  url('../fonts/iconFont/iconFont.eot?rth2s6');
  src:  url('../fonts/iconFont/iconFont.eot?rth2s6#iefix') format('embedded-opentype'),
    url('../fonts/iconFont/iconFont.ttf?rth2s6') format('truetype'),
    url('../fonts/iconFont/iconFont.woff?rth2s6') format('woff'),
    url('../fonts/iconFont/iconFont.svg?rth2s6#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

