/*===================================
				COLORS
=====================================
*/
$darkColor:#000; /*black*/
$lightColor:#fff; /*white*/

$mainColor:#1B9F90; /*green*/
$secondColor:#FFB52B; /*yellow*/
$thirdColor:#393939; /*gray*/
$fourColor:#138275; /*light green*/
$fiveColor:#00A290;
$sixColor:#EAEAEA;

$border:#979797;
$borderLight:#CDCDCD;

$bk:#1B9F90;
$bk2:#F4F4F4; /*light grya*/
$bk3:#B4B4B4;
/*===================================
				FONTS
=====================================
*/
$mainFont: 'Fira Sans', sans-serif;
$iconFont:'iconFont';