/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.page-node-type-documento .field.field--name-field-ref-geograficos,
.page-node-type-documento .field.field--name-field-ref-n5lugar {
    display: inline-block;
}
.page-node-type-documento.field.field--name-field-ref-n5lugar:before {
    content: ">";
    margin-right: 5px;
}
.page-node-type-documento .field.field--name-field-ref-geograficos ul {
    padding: 0;
}
.page-node-type-documento .table-responsive-sm table thead {
    background: unset!important;
}
.page-node-type-documento td,
.page-node-type-documento th{
    border: none!important;
}
.page-node-type-documento .table-striped > tbody > tr:nth-of-type(odd) {
    background: unset!important;
}
.page-node-type-documento td,
.page-node-type-documento th {
    padding: 0px!important;
}
ul.shs li{
    list-style: none !important;
}
.field--item ul.shs{
    padding-left: 0px;
}
ul.shs li:after {
    content: '- '!important;
    margin: 0 0 0 10px!important;
}

.view-documentos .view-header {
   text-align: left !important;
}


.view-documentos .view-header a{
  display: inline-block;
  float:right;
  background: #1B9F90;
  border: 1px solid #1B9F90;
  border-radius: 0px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  padding: 0 25px;
}

.view-documentos .view-header a:hover{
  background: #fff;
  border: 1px solid #1B9F90;
  color: #1B9F90;
  text-decoration: none;
  outline: none;
}

.field--name-field-ref-geograficos ul.shs li:first-child{
  display: none;
}
